.mainPage {
  padding: 24px 24px 80px 24px;
  background-color: #FFF;
  border-radius: 12px 12px 0 0;
  margin: 30px auto;
  max-width: 900px;
}

.header {
  display: flex;
  align-items: center;
}

.initialsCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #D5E4F7;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #212830;
}

.info {
  flex: 1;
  margin-left: 26px;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.linksContainer {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.links:last-child {
  margin-left: 0px;
}

.links {
  display: flex;
  align-items: center;
}

.links img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.links a {
  display: inline-block;
  line-height: 16px;
  margin-right: 16px;
  color: #5558FA;
  text-decoration: none;
}

.line {
  margin-top: 25px;
  border: none;
  border-top: 2px solid #EEE;
}

.contactForm {
  margin-top: 24px;
}

.inputForm {
  margin-bottom: 24px;
}

.inputForm .textLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.inputForm input {
  width: 45%;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.04);
  padding: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.48);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.error {
  font-size: 12px;
  color: #ff0000;
  margin-top: 4px;
}

.buttonStart {
  margin-top: 24px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #5558FA;
  ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 900px) {
  .mainPage {
    margin: calc(10px + (30 - 10) * ((100vw - 320px) / (900 - 320)));
  }

  .links:last-child {
    margin-left: 0;
  }
}